[Unit]
Description=Disable turbo boost

[Service]
ExecStart=/bin/bash -c "echo "0" | sudo tee /sys/devices/system/cpu/cpufreq/boost"
Type=oneshot

[Install]
WantedBy=multi-user.target
